#include <behaviors/rgbled_widget.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "tap-preferred";   // a など文字キーはタップを確実に
    // tapping-term-ms = <200>;    // しっかり a を拾える時間
};

&lt {
    flavor = "hold-preferred";  // レイヤー切替は即効性を重視
    tapping-term-ms = <150>;    // 短めにして切替を素早く
};

&trackball {
    // automouse-layer = <4>;

    scroll-layers = <5>;

    // arrows {
    //     layers = <3>;
    //     bindings =
    //         <&kp RIGHT_ARROW>,
    //         <&kp LEFT_ARROW>,
    //         <&kp UP_ARROW>,
    //         <&kp DOWN_ARROW>;
    //     tick = <10>;
    //     wait-ms = <5>;
    //     tap-ms = <5>;
    // };
};

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <12 13>;
        };

        Layer3 {
            bindings = <&mo 3>;
            key-positions = <38 41>;
        };

        HENKAN {
            bindings = <&kp INT_HENKAN>;
            key-positions = <31 32>;
        };

        MUHENKAN {
            bindings = <&kp INT_MUHENKAN>;
            key-positions = <23 24>;
        };

        iOS_GENGO {
            bindings = <&kp LC(SPACE)>;
            key-positions = <24 25>;
        };

        quotes {
            bindings = <&kp SINGLE_QUOTE>;
            key-positions = <20 19>;
        };

        enter {
            bindings = <&kp ENTER>;
            key-positions = <20 21>;
        };

        left_ctrl {
            bindings = <&kp LCTRL>;
            key-positions = <10 11>;
        };

        ctrl_shift {
            bindings = <&kp LS(LCTRL)>;
            key-positions = <22 23>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q             &kp W         &kp E      &kp R         &kp T                                    &kp Y  &kp U  &kp I        &kp O       &kp P
&kp A             &kp S         &kp D      &kp F         &kp G  &kp LS(LG(S))        &mkp MB2     &kp H  &kp J  &kp K        &kp L       &lt 4 ENTER
&mt LEFT_SHIFT Z  &kp X         &kp C      &kp V         &kp B  &mo 6                &mkp MB1     &kp N  &kp M  &lt 5 COMMA  &kp PERIOD  &mt RIGHT_SHIFT SLASH
&mo 4             &kp LEFT_WIN  &kp LCTRL  &kp LEFT_ALT  &to 2  &mt RCTRL SPACE      &lt 6 ENTER  &mo 1                                  &kp RCTRL
            >;

            sensor-bindings = <&inc_dec_kp UP_ARROW DOWN_ARROW>;
        };

        kigou {
            bindings = <
&kp LS(NUMBER_1)  &kp LS(NUMBER_2)  &kp LS(NUMBER_3)  &kp LS(NUMBER_4)  &kp LS(NUMBER_5)                       &kp LS(NUMBER_6)  &kp LS(N7)  &kp LS(NUMBER_8)  &kp LS(NUMBER_9)   &kp LS(NUMBER_0)
&kp GRAVE         &trans            &trans            &kp SINGLE_QUOTE  &kp DOUBLE_QUOTES  &trans      &trans  &kp MINUS         &kp EQUAL   &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp SEMICOLON
&trans            &trans            &trans            &trans            &trans             &trans      &trans  &kp UNDERSCORE    &kp PLUS    &kp LESS_THAN     &kp GREATER_THAN   &kp BACKSLASH
&trans            &trans            &trans            &trans            &mo 3              &trans      &trans  &trans                                                             &trans
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PG_DN>;
        };

        NUM {
            bindings = <
&kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3      &kp NUMBER_4    &kp N5                       &kp NUMBER_6    &kp N7          &kp N8         &kp N9           &kp N0
&trans        &trans        &kp INT_MUHENKAN  &kp INT_HENKAN  &trans   &trans      &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW   &kp RIGHT_ARROW  &kp END
&trans        &trans        &trans            &kp BACKSPACE   &kp DEL  &trans      &trans  &kp F12         &kp ESCAPE      &kp PAGE_DOWN  &kp PG_UP        &kp HOME
&trans        &trans        &trans            &trans          &trans   &trans      &trans  &mo 3                                                           &trans
            >;
        };

        FUNCTION {
            bindings = <
&kp F1          &kp F2           &kp F3      &kp F4  &kp F5                      &kp F6  &kp F7  &kp F8  &kp F9   &kp F10
&kp K_APP       &kp PRINTSCREEN  &trans      &trans  &trans  &trans      &trans  &trans  &trans  &trans  &kp F11  &kp F12
&kp LEFT_SHIFT  &trans           &kp LA(F4)  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans   &trans
&trans          &trans           &trans      &trans  &trans  &trans      &trans  &trans                           &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans    &mkp MB3  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &mkp MB1  &mkp MB2  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &mkp MB4  &mkp MB5  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                              &trans
            >;

            sensor-bindings = <&inc_dec_kp PAGE_UP PAGE_DOWN>;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans    &trans    &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &mkp MB1  &mkp MB2  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans    &trans    &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                              &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &kp N7        &kp N8        &kp N9        &ind_bat                                &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp MINUS      &trans      &bootloader  &trans        &mkp MB1      &mkp MB2      &trans        &trans
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp BACKSPACE  &trans      &bootloader  &trans        &mkp MB3      &mkp MB4      &trans        &bt BT_CLR
&trans  &kp N0        &trans        &trans        &trans         &trans      &trans       &trans                                                  &bt BT_CLR_ALL
            >;

            sensor-bindings = <&inc_dec_kp RIGHT_ARROW LEFT_ARROW>;
        };
    };
};
